<!-- Brianna Manolopoulos
Application Security
Winter 2024 TESC
https://canvas.evergreen.edu/courses/6279/assignments/111546 -->

<!DOCTYPE html>

<html lang="en" dir="ltr"></html>


<!-- Header -->
<head>
  <title>Week_1 Webpage</title>
</head>

<!-- Body -->
<body>
  <h1>Week_1 Webpage</h1>
  <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
  
  <!-- Form -->
  <form action="/submit" method="post">
    <label for="w1_input"><h1>What would you like to say?</h1></label>
    <input type="text" name="w1_input" id="w1_input" required>
    <br>
    <input type="submit" value="Let's do this, folks!">
  </form>


</body>

</html>
